@font-face {
    font-family: Shrift;
    src: url(../fonts/Shrift.otf);
    
    



}

@font-face  {
    font-family: TTNorms-Bold;
    src: url(../fonts/TTNorms-Bold.ttf)



}


@font-face {
    font-family: TTNorms-Light;
    src: url(../fonts/TTNorms-Light.ttf);
}


@font-face {
    font-family: TTNorms-Medium;
    src: url(../fonts/TTNorms-Medium.ttf);
}




@font-face {
    font-family: TTNorms-Regular;
    src: url(../fonts/TTNorms-Regular.ttf);
}






header {
    min-height: 50px;
    background-color: #000000;

}

.logo {
    color:white;
    padding: 25px;
    font-size: 24px;
    font-family:  Shrift;
}

.personal {
    padding:25px; 
    color: white; 
    font-family: TTNorms-Light;

}

.personal_second {

    padding:25px; 
    font-family: TTNorms-Light;

}


.personal_btn  {
    border-radius: 20px; 
    width: 170px;
    height: 40px;
    font-size: 14px;
    font-weight: 450;
    border: 3px;
    font-weight: 600;
    
}


.promo {

    min-height: 700px;
    
    
    /* background: url('../img/unknown.png') center center/cover no-repeat; */
}


.promo_header {
    text-align: center;
    font-size: 72px;
    margin-top: 280px;
    color: white;
    font-family: Shrift;
}


.promo_subheader {

    text-align: center;
    font-size: 34px;
    color:white;
    font-family: TTNorms-Light;
}

.dreams {
    min-height: 750px;
    background-color: #F5F5F5;


}


.dreams_subheader {

    text-align: center;
    padding-top: 150px;
    font-size: 42px;
    font-weight: 600 ;
    font-family: TTNorms-Regular;
    
}

.img_round {

    margin-top: 70px;
    margin-left: 117px;
    width: 100px;
    height: 100px;

}

.img_descr {
    
    width: 343px;

}

.reasons_subtitle {

    text-align: center;
    margin: 0 0 30px 0;
    font-size: 26px;
    font-weight: 600;
    font-family: TTNorms-Regular;
   
}

.reasons_text {

    
    color: #202020;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
    font-family: TTNorms-Light;

}


.calculator {

    min-height: 800px;



}


.calculator_descr {

    text-align: center;
    font-size: 42px;
     font-family: TTNorms-Regular;
    font-weight: 600;
    margin-top: 100px;
}


.bcalc__header {
    font-size: 42px;
    margin: 100px 0 35px;
    font-family: TTNorms-Light;


}

.bcalc__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.bcalc__sliders {
    width: 75%;
    padding: 0 30px 0 0;
    
}

.bcalc__slidersGroug {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 70px
}

.bcalc__slidersGrougHeader {
    width: 30%;
    font-size: 26px;
    padding: 0 30px 0 0;
    font-family: TTNorms-Light;

}

.bcalc__slider {
    width: 70%
}

.bcalc__sliderLabel {
    border: 0;
    margin: 0 0 20px;
    font-size: 28px;
    color: #1d1f23;
    font-family: TTNorms-Light;
}

.bcalc__slider .noUi-handle {
    border-radius: 50%;
    border: 0;
    background: #606060;
    width: 24px;
    height: 24px;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 50%;
    margin-top: -11px;
    outline: 0;
    cursor: pointer
}

.bcalc__slider .noUi-handle:after,
.bcalc__slider .noUi-handle:before {
    display: none
}

.bcalc__slider .noUi-connect {
    background: -webkit-gradient(linear, left top, right top, from(#B0B0B0), to(#505050));
    background: linear-gradient(90deg, #B0B0B0 0, #505050 100%)
}

.bcalc__inputRefill,
.bcalc__inputSumm,
.bcalc__inputTerm {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    height: 3px;
    border: 0;
    background: #231d23;
    font-family: Verdana
}

.bcalc__result {
    position: absolute;
    z-index: 111;
    top: 50%;
    left: 10%;
    width: 80%;
    margin-top: -40px;
    text-align: center
}

.bcalc__resultTerm {
    display: block;
    margin: 0 0 10px;
    color: #888;
    font-size: 14px
}

.bcalc__resultSumm {
    font-size: 36px;
    line-height: 36px
}

.bcalc__resultCurrency {
    color: #888;
    display: block
}

.bcalc__btn {
    display: inline-block;
    padding: 25px 65px;
    background: #ff8300;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s
}

.bcalc__btn:hover {
    background: #ff9424
}

.bcalc__diagramm {
    position: relative;
    font-family: TTNorms-Light;

}

.bcalc__diagrammCanvas {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}